<div class="right-sec">
        <img src="{{khabar.image.url}}">
        <p>{{ khabar.sub_titr }}</p>
        <h2>{{ khabar.mozo1 }}</h2>
        <p>{{ khabar.sub_mozo1 }}</p>
        {% if khabar.image_1 %}
        <img src="{{khabar.image_1.url}}">
        {% endif %}
        {% if khabar.mozo2 %}
        <h2> {{ khabar.mozo2 }}</h2>
        {% endif %}
        {% if khabar.sub_mozo2 %}
        <p>{{ khabar.sub_mozo2 }}</p>
        {% endif %}
        {% if khabar.image_2 %}
        <img src="{{khabar.image_2.url}}">
        {% endif %}
        {% if khabar.mozo3 %}
        <h2> {{ khabar.mozo3 }}</h2>
        {% endif %}
        {% if khabar.sub_mozo3 %}
        <p>{{ khabar.sub_mozo3 }}</p>
        {% endif %}
        {% if khabar.image_3 %}
        <img src="{{khabar.image_3.url}}">
        {% endif %}
        {% if khabar.mozo4 %}
        <h2> {{ khabar.mozo4 }}</h2>
        {% endif %}
        {% if khabar.sub_mozo4 %}
        <p>{{ khabar.sub_mozo4 }}</p>
        {% endif %}
        {% if khabar.image_4 %}
        <img src="{{khabar.image_4.url}}">
        {% endif %}
        {% if khabar.image_5 %}
        <img src="{{khabar.image_5.url}}">
        {% endif %}
        {% if khabar.image_6 %}
        <img src="{{khabar.image_6.url}}">
        {% endif %}

    </div>